body{
    font-family: Arial, Helvetica, sans-serif;
    background: url("sitesite.jpg");
    background-color: rgb(7, 0, 65); /* Cor fundo do site */
    color: white; /*Cor da letra */
}

h1#preencher{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5;
    color: white;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50;
}

div#interface{ /*Todas informações que contém na página branca*/
    width: 1100px;
    background-color: rgb(12, 0, 117);
    margin: 40px auto 10px auto; /*Margem interface*/
    box-shadow: 0px 0px 10px white;
    padding: 10px 10px 10px 10px;
}
header#cabecalho{
    border-bottom: 1px white solid; /* Linha solida no cabeçalho */
    height: 60px;
    
}


/* MENU */
nav#menu{
    display: block;
}
nav#menu ul{
   list-style: none; /*Retira os marcadores º*/
   text-transform: uppercase; /* Todas as letras em maiúsculas */
   position: absolute; /* Passar por cima dos meus documentos */
   top: -20px;
   left: 400px;
}
nav#menu li{
	display: inline-block; /* Faz com que um bloco seja exibido na mesma linha */
	background-color: green; /* Cor de fundo das palavras */
    padding: 10px; /*Espaço das cores*/
	transition: background-color 1s; /* Vou monitorar o background-color e o tempo da transição */ 
}
nav#menu li:hover{ /* Efeito quando eu mover o mouse em cima do LI */  /* Hover é o efeito quando passo o mouse por cima */
    background-color: black;    
}
nav#menu h1{ /* Formatação para o Menu Principal */
	display: none; /* Agora não tem mais o Menu Principal */ 
}
nav#menu a{ /* Todo ID menu */
	color: #ffffff; /* Todo ID menu vai ter cor preta */
	text-decoration: none; /* para eu colocar underline e outros itens */
}
nav#menu a:hover{
    color: white;
}


a{
    color: springgreen;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}