body{
    font-family: Arial, Helvetica, sans-serif;
    background: url("sitesite.jpg");
    background-color: rgb(7, 0, 65); /* Cor fundo do site */
    color: white; /*Cor da letra */
}
div#interface{ /*Todas informações que contém na página branca*/
    width: 1100px;
    background-color: rgb(12, 0, 117);
    margin: 50px auto 10px auto; /*Margem interface*/
    box-shadow: 0px 0px 10px white;
    padding: 10px 10px 10px 10px;
}
header#cabecalho{
    border-bottom: 1px white solid; /* Linha solida no cabeçalho */
    height: 60px; 
}

h1{
    color: red;
}

/* MENU */
nav#menu{
    display: block;
}
nav#menu ul{
   list-style: none; /*Retira os marcadores º*/
   text-transform: uppercase; /* Todas as letras em maiúsculas */
   position: absolute; /* Passar por cima dos meus documentos */
   top: 0px;
   left: 400px;
}
nav#menu li{
	display: inline-block; /* Faz com que um bloco seja exibido na mesma linha */
	background-color: green; /* Cor de fundo das palavras */
    padding: 10px; /*Espaço das cores*/
	transition: background-color 1s; /* Vou monitorar o background-color e o tempo da transição */ 
}
nav#menu li:hover{ /* Efeito quando eu mover o mouse em cima do LI */  /* Hover é o efeito quando passo o mouse por cima */
    background-color: black;    
}
nav#menu h1{ /* Formatação para o Menu Principal */
	display: none; /* Agora não tem mais o Menu Principal */ 
}
nav#menu a{ /* Todo ID menu */
	color: #ffffff; /* Todo ID menu vai ter cor preta */
	text-decoration: none; /* para eu colocar underline e outros itens */
}
nav#menu a:hover{
    color: white;
}


/* Tudo que for ALBUM DE FOTOS */
ul#album-fotos {
    width: 1000px; /*Largura para caber a foto na página*/
    margin: 50 auto; /* Margem */
    padding: 50px; /* Borda */
    overflow: hidden;
    list-style: none; /* Cada item vai aparecer sem as bolinhas */
}

ul#album-fotos li{
    float: left;  /* Uma foto ao lado da outra */
    width: 200px; /* Largura */
    height: 200px; /* Altura */
    margin: 10px;
    border: 5px solid white;
    background-color: white; /* Borda */
    box-shadow: 1px 1px 3px rgba(0,0,0,.4); /* DESLOCAMENTO LATERAL, VERTICAL, ESPALHAMENTO, COR */
    
}

ul#album-fotos li span{
  opacity: 1; /* Faz aparecer a foto */ /* 0 Desaparece */
  color: #ffffff;
  text-shadow: 1px 1px 1px black; /* Sombreamento */
  background-color: rgba (0, 0, 0, .3);
  font-size: auto;
  
}
ul#album-fotos li:hover span{ /* O hover que faz sumir e aparecer quando eu passo o mouse na foto */
    /* opacity: 1; */ /* Faz aparecer a foto quando passo o mouse */
}



/* Movimento nas imagens */ /* HOVER */
ul#album-fotos li:hover{
    background: url('pasta_imagens/11.jpeg') no-repeat;
    -webkit-transform: scale(1.5);
    -webkit-transition: all 0.4s ease-in; /* tempo de aproximação da foto */
    border: 5px solid white;
    box-shadow: 10px 10px 50px rgba(0,0,0,.8); /* SOMBRA */ /* DESLOCAMENTO LATERAL, VERTICAL, ESPALHAMENTO, COR */
}



/* Galeria de imagens */
*{
    margin: 0;
    padding: 0;
}

.lbox{
    visibility: hidden;
    opacity: 0;
}
.lbox:target{
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(10,10,10,.7);

    position: fixed;
}

.box_img{
    width: 700px;
    margin: 50px auto;
    border: 3px solid white;
}

.btn{
    color: #fff;
    font-family: Arial;
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}

#prev{
    left: 22%;
    top: 45%;
}
#next{
    right: 22%;
    top: 45%;
}
#close{ /* Posicionamento BOTÃO X */
    top: 1%;
    right: 1%;
}
#close:hover{ /* Movimento do botão X */
    background: red;
    -webkit-transform: scale(1.0);
    -webkit-transition: all 0.4s ease-in; /* tempo de aproximação da foto */
    border: 3px solid white;
    box-shadow: 10px 10px 50px rgba(0,0,0,.8);
}
.box_img img{
    opacity: 0;
}

.lbox:target .box_img img{
    opacity: 1;
    transition: opacity .4s linear;
}
